.vsb {
	
}

.vsb-header {
    /* height: 3rem;     */
    padding: .7rem 1.5rem;
    padding-left: 4rem;
    line-height: 2.2rem;
    height: 3.6rem;
    box-sizing: border-box;
    border-bottom: 1px solid #eaecef;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    right: 0;
}
.vsb-sidebar-button {
    cursor: pointer;
    /* display: none; */
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    padding: .6rem;
    top: .6rem;
    left: 1rem;
}

.vsb-sidebar-button .icon {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
}

.vsb-header-title {
    margin: auto;
    display: inline-block;
    font-weight: bold;
}



.vsb-sidebar {
	/* position: sticky;
    top: 10px; */
    background-color: #fff;
    width: 18rem;
    position: fixed;
    z-index: 10;
    margin: 0;
    top: 4rem;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    border-right: 1px solid #eaecef;
    overflow-y: auto;
}


.vsb-article-container {
    /* display: grid; */
    padding-left: 18rem;
    display: flex;
    padding-top: 4rem;
    /* align-items: flex-start; */
    /* grid-template-columns: auto 200px; */
    /* grid-gap: 20px; */
}

.vsb-article-content-wrapper {
    flex-grow: 1;
    padding: 0 1rem;
}

.vsb-article-navigation {
    position: sticky;
    top: 4rem;
    min-width: 14rem;
    display: block;
    max-height: 100vh;
}





.vsb-nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
}


.vsb-nav-section {
    padding-left: 14px;
}

.vsb-nav-title {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 6px;
    cursor: pointer;
}

.vsb-nav-toggle {
    /* height: 20px; */
    /* width: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* background: #efefef; */
}

.vsb-nav-item {
    margin-top: 10px;
}

.vsb-nav-link--active {
    /* font-weight: bold; */
}



.vsb-sidebar .router-link-active {
    /* font-weight: bold; */
}

.vsb .vsb-main-nav {

}

.vsb .vsb-article-container {

}
.vsb .vsb-article-nav {

}

.vsb .vsb-nav-list {

}

.vsb .vsb-nav-item {
    margin-top: 5px;
}

.vsb .vsb-article-content {

}


.vsb-article-navigation .vsb-nav-toggle {
    display: none;
}

html {
    scroll-behavior: smooth;
    font-size: 14px;
}
body {
    /* padding-top: 20px; */
    color: #24292e;
    /* font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; */
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  
}


.vsb-sidebar .vsb-nav-item--0 > .vsb-nav-title {
    color: #393939;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2em;
    margin-bottom: 8px;
    margin-top: 0;
}

:not(.vsb-nav-item--0) > .vsb-nav-title a {
    border: none;
    color: #717171;
    /* display: block; */
    font-size: 1em;
    padding: 4px 0;
    transition: color .3s;
    text-decoration: none;
}

.vsb-sidebar :not(.vsb-nav-item--0) > .vsb-nav-title a.router-link-active, 
.vsb-sidebar :not(.vsb-nav-item--0) > .vsb-nav-title a:hover, 
.vsb-sidebar :not(.vsb-nav-item--0) > .vsb-nav-title a:focus,
:not(.vsb-nav-item--0) > a:hover,
:not(.vsb-nav-item--0) > a.vsb-nav-link--active {
    color: #2e8555;
}

.vsb-nav-toggle .arrow {
    float: right;
    margin-right: 8px;
    margin-top: -4px;
    transform: rotate(90deg);
    transition: transform .2s linear;
}
.vsb-nav-toggle.vsb-nav-toggle--active .arrow {
    transform: rotate(180deg);
}


.vsb-article-navigation .vsb-nav-list.nav-level--1 {
    border-left: 1px solid #e0e0e0;
    padding: 10px 0 20px 15px;
}

.vsb-article-content {
    font-size: 1.1em;
    margin-top: 30px;
}